.header {
  .header--img {
    max-height: 128px;
    padding-top: 1em;
  }

  .header--name {
    margin-bottom: 0;
    font-family: 'Rancho', cursive;
  }

  .header--name-small {
    font-size: 1.5157em;
  }

  .header--sub-name { margin: 4px 0; }

  .header--contact { text-align: right; }

  .header--img-div {
    text-align: right;
    @media screen and(max-width: 415px){
      text-align: left;
    }
  }

  color: $main-color;
}
