.nav {
    background-color: $gray-light;
    box-shadow: 0 2px 4px $accent-color;
    a { font-size: 1.15em; }

  .nav--sm-icons {
    height: 64px;
    @media screen and(max-width: 415px){ height: 56px; }
    .nav--img { 
      padding-top: .5em;
      max-height: 56px;
      @media screen and(max-width: 415px){
        padding-top: .5em;
        max-height: 48px;
      }
    }
  }
}
