// @import 'font-awesome';
@import 'materialize';

@import 'variables';

@import 'parallax';
@import 'return';

@import 'header';
@import 'nav';
@import 'calendar';
@import 'footer';

body {
  font-size: 1.1em;
  line-spacing: 1.4em;

  h1 { font-size: 2em; }
  h2 { font-size: 1.7411em; }
  h3 { font-size: 1.5157em; }
  h4 { font-size: 1.3195em; }
  h5 { font-size: 1.1487em; }
  h6 { font-size: 1em; }

}
