<footer class="footer">

  <div class="row">
    <div class="col m6 s12">
      <div class="footer--left">
        <h5 class="footer--name">Zak Blose</h5>
        <p class="footer--sub-name">Acoustic Pop/Rock</p>
        <p class="footer--sub-name"><a href="mailto:wzblose@gmail.com">wzblose@gmail.com</a></p>
      </div>
    </div>
    <div class="col m6 s12">
      <div class="footer--right">
        <a class="footer--sm-icons" href="https://www.facebook.com/ZakBlose/" target="_blank">
          <img class="footer-contact--img responsive-img" src="/images/facebook.svg" alt="Zak Blose on Facebook" />
        </a>
        <a class="footer--sm-icons" href="https://www.spotify.com/" target="_blank">
          <img class="footer-contact--img responsive-img" src="/images/spotify.svg" alt="Zak Blose on Spotify" />
        </a>
      </div>
    </div>

  </div>
  <div class="footer-contact">
    <div class="row">
      <div class="col s12">
        <div class="right">
          © 2018 Zak Blose
        </div>
      </div>
    </div>
  </div>
</footer>
