<div class="header">
  <div class="row">
    <div class="valign-wrapper">
      <div class="col m6 s12 hide-on-small-only">
        <h1 class="header--name">Zak Blose</h1>
        <h4 class="header--sub-name">Acoustic Pop/Rock</h4>
        <h4>Booking: <a href="mailto:wzblose@gmail.com">wzblose@gmail.com</a>  </h4>
      </div>
      <div class="col m6 s12 center">
        <a href="index.html">
          <img class="responsive-img header--img center" src="/images/zb_logo.png" alt="Zak Blose" />
        </a>
      </div>
      <div class="col m6 s12 hide-on-med-and-up">
        <p>
          Zak Blose
          <br>
          Acoustic Pop/Rock
          <br>
          Booking: <a href="mailto:wzblose@gmail.com">wzblose@gmail.com</a> 
        </p>
      </div>
    </div>
  </div>
</div>
