<nav class="nav">
  <div class="nav-wrapper">
    <ul class="left">
      <li><a href="#calendar">Calendar</a></li>
      <li><a href="#">Gallery</a></li>
    </ul>
    <ul class="right">
      <li>
        <a class="nav--sm-icons" href="https://www.facebook.com/ZakBlose/" target="_blank">
          <img class="nav--img responsive-img" src="/images/facebook.svg" alt="Zak Blose on Facebook" />
        </a>
      </li>
      <li>
        <a class="nav--sm-icons" href="https://www.spotify.com/" target="_blank">
          <img class="nav--img responsive-img" src="/images/spotify.svg" alt="Zak Blose on Spotify" />
        </a>
      </li>
    </ul>
  </div>
</nav>
