:root {
  --main-color: #312B81;
  --main-color-light: #B7D9E4;
  --accent-color: #AF7F4E;

  --gray-dark: #6E8898;
  --gray-light: #9FB1BC;
}

@import url('https://fonts.googleapis.com/css?family=Rancho');

body {
  font-size: 1.1em;
  line-height: 1.4em;

  h1 { font-size: 2.0em; }
  h2 { font-size: 1.7411em; }
  h3 { font-size: 1.5157em; }
  h4 { font-size: 1.3195em; }
  h5 { font-size: 1.1487em; }
  h6 { font-size: 1.0em; }

}

#overlay{
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: var(--gray-dark);
  opacity: 0.8;
  z-index:1001;
}

#overlay-content{ 
  position: absolute;
  display: none;
  z-index:1002;
  margin: 0 auto;
  margin: 16px;
}

.spash-logo {
  max-width: 480px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.garallax {
  height: 72vh !important;
  width: 100%;
}

#garallax_1 {
  background: url(../images/parallax/3.jpg) no-repeat center center fixed;
  background-size: cover;
}

#garallax_2 {
  background: url(../images/parallax/2.jpg) no-repeat center center fixed;
  background-size: cover;
}

#garallax_3 {
  background: url(../images/parallax/1.jpg) no-repeat center center fixed;
  background-size: cover;
}

.jumbotron {
  margin-bottom: 0rem;
  text-align: right;
  height: 100vh;
  background: url('/images/parallax/1.jpg') center center;
  background-size: cover;
  background-color: var(--accent-color);
  color: var(--main-color-light);
  box-shadow: inset -4px -8px 16px 4px rgba(175, 127, 78, 0.4);

}

.jumbotron .jumbotron--name {
  font-family: 'Rancho', cursive;
  font-size: 3em;
}

.jumbo-contact-img {
  max-height: 40px;
}

.navbar {
  background-color: var(--gray-light);
}

.navbar-brand {
  color: #FFFFFF;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
  border-left: 1px solid rgba(255, 255, 255,0);
  border-right: 1px solid rgba(255, 255, 255,0);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}


.nav-link:hover {
  color: var(--main-color);
}

.navbar-toggler-icon {
  color: #FFFFFF;
}

.cal {
  padding: 1em 0;

  background-color: var(--gray-light);
  box-shadow: inset -4px -8px 16px 4px rgba(175, 127, 78, 0.4);
}

.calendar-title {
  color: var(--main-color);
}

.bookings-link { color: #FFFFFF; }
.bookings-link:hover {
  color: #FFFFFF;
  text-shadow: 0 1px 2px var(--main-color);
}

.gallery {
  padding: 2em 0;
  background-color: var(--gray-light);
  box-shadow: inset -4px -8px 16px 4px rgba(175, 127, 78, 0.4);
}

.gallery-image {
  margin-bottom: 1em;
}

.gallery-title {
  color: var(--main-color);
}

.filter-button {
  border: 1px solid var(--main-color);
  border-radius: 8px;
  box-shadow: 1px 1px 4px var(--main-color);
  text-align: center;
  color: var(--main-color);
  margin-bottom: 1em;
}

.filter-button:hover {
  border: 1px solid #FFFFFF;
  background-color: var(--main-color);
  color: #ffffff;
}

.wearecentralpa {
  background-color: var(--gray-dark);
  box-shadow: inset -4px -8px 16px 4px rgba(175, 127, 78, 0.4);
}

.wearecentralpa-row {
  padding: 2em 0;
}

.wearecentralpa-link {
  color: #FFFFFF;
}

.wearecentralpa-link:hover {
  color: #FFFFFF;
  text-shadow: 0 1px 2px var(--main-color);
}

.wearecentralpa-img {
  max-width: 384px;
  padding-bottom: 1em;
}

.footer {
  padding: 2em 0 4em 0;
  background-color: var(--gray-light);
  color: var(--main-color);
  box-shadow: inset -4px -8px 16px 4px rgba(175, 127, 78, 0.4);
}

.footer-text-div {
  padding-bottom: 1em;
}

.footer-logo-div {
  text-align: center;
  padding-bottom: 1em;
}

.footer-icon-div {
  text-align: right;
}

.icons-container {
  width: 100%;
  position: fixed;
  bottom: 16px;
  text-align: center;
  z-index: 99;
}

.icons-img:hover {
  transition: 1.0s;
  -webkit-transition: 1.0s;
  -moz-transition: 1.0s;
  -ms-transition: 1.0s;
  -o-transition: 1.0s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

@media screen and (max-width: 415px) {
  .footer-text-div { text-align: center; }
  .footer-icon-div {
    text-align: center;
  }
}
