<div id="about" class="about">
  <div class="about-overlay">
    <div class="container">
      <p>
        Zak started writing at 13 to make his poetry into music. After some time working with his voice, he set out to play every open mic that he could get to. After two years of performing he got picked up by Derek Woods management. That’s when he started refining his original music and pushing his performance to the show and the songs you hear today. Zak has an influence for all the aspects of music, City and Colour for vocals, John Mayer for guitar, and Ben Howard for a mixture of the two.
      </p>
    </div>
  </div>
</div>
