<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-12">
        <div class="footer-logo-badge">
          <img src="images/zb_logo_badge.svg" alt="Zak Blose" height="128">
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-8">
        <div class="footer-text-div">
          <h2 class="footer-name">Zak Blose</h2>
          <p class="tail">
            ACOUSTIC POP/ROCK
            <br>
            <a class="bookings-link" href="mailto:wzblose@gmail.com">Bookings: wzblose@gmail.com</a>
          </p>
            <a class="footer-icon" href="https://www.facebook.com/ZakBlose/" target="_blank">
              <img class="img-responsive" src="images/F_icon.svg" alt="Zak Blose on Facebook" height="32"/>
            </a>
<!--             <a class="footer-icon" href="https://www.spotify.com/" target="_blank">
              <img class="img-responsive" src="images/Spotify_logo_without_text.svg" alt="Zak Blose on Spotify" height="32"/>
            </a> -->
        </div>
      </div>

      <div class="col-lg-6 col-md-4 col-sm-12">
        <div class="footer-right">
          <div class="row">
            <div class="col-sm-12">
              <hr class="footer-hr" />
              <a class="wearecentralpa-link" href="https://www.wearecentralpa.com/central-pa-live/singer-songwriter-zak-blose/1063246865" target="_blank">
                <img class="wearecentralpa-img img-responsive" src="images/wearecentralpa-2018-logo.png" alt="WTAJ We Are Central PA" />
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <a class="wearecentralpa-link" href="https://www.wearecentralpa.com/central-pa-live/singer-songwriter-zak-blose/1063246865" target="_blank">
                Watch Zak on wearecentralpa.com
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-credits-row">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>Photo credit: Savannah Butler / <a class="footer-credit-href" href="savvyshots.photography" target="_blank">Savvy Shots Photography</a></p>
        <p>Website: Gary A. Newsome / <a class="footer-credit-href" href="savvysoftworks.com" target="_blank">SavvySoftWorks</a></p>
      </div>
    </div>
  </div>
</div>
