<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="footer-text-div">
          <h1>Zak Blose</h1>
          <p>Acoustic Pop/ Rock</p>
          <p><a class="bookings-link" href="mailto:wzblose@gmail.com">Bookings: wzblose@gmail.com</a></p>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="footer-logo-div">
          <img src="/images/zb_logo.png" alt="Zak Blose" height="128">
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="footer-icon-div">
          <a class="footer-sm-icons" href="https://www.facebook.com/ZakBlose/" target="_blank">
            <img class="footer-contact-img img-responsive" src="/images/facebook_footer.svg" alt="Zak Blose on Facebook" />
          </a>
          <a class="footer-sm-icons" href="https://www.spotify.com/" target="_blank">
            <img class="footer-contact-img img-responsive" src="/images/spotify_footer.svg" alt="Zak Blose on Spotify" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
