<div class="gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="gallery-title">Gallery</h1>
      </div>
    </div>

    <div class="row">
      <div align="center">
        <button class="btn btn-default filter-button" data-filter="all">All</button>
        <button class="btn btn-default filter-button" data-filter="press">Press</button>
        <button class="btn btn-default filter-button" data-filter="live">Live </button>
      </div>
    </div>

    <div class="row">
      <br/>
      <div class="gallery-image col-md-4 col-sm-6 filter press">
          <img src="http://fakeimg.pl/365x365/" class="img-responsive">
      </div>

      <div class="gallery-image col-md-4 col-sm-6 filter live">
          <img src="http://fakeimg.pl/365x365/" class="img-responsive">
      </div>

      <div class="gallery-image col-md-4 col-sm-6 filter press">
          <img src="http://fakeimg.pl/365x365/" class="img-responsive">
      </div>

      <div class="gallery-image col-md-4 col-sm-6 filter press">
          <img src="http://fakeimg.pl/365x365/" class="img-responsive">
      </div>

      <div class="gallery-image col-md-4 col-sm-6 filter live">
          <img src="http://fakeimg.pl/365x365/" class="img-responsive">
      </div>
    </div>
  </div>
</div>
