<div class="top-icons">
  <a class="top-icon" href="https://www.facebook.com/ZakBlose/" target="_blank">
    <img class="img-responsive" src="images/F_icon.svg" alt="Zak Blose on Facebook" height="32"/>
  </a>
  <a class="top-icon" href="https://www.spotify.com/" target="_blank">
    <img class="img-responsive" src="images/Spotify_logo_without_text.svg" alt="Zak Blose on Spotify" height="32"/>
 </a>
</div>

<div class="icons-container">
  <div class="icons">
    <a href="#top" class="waves-effect" data-toggle="tooltip" data-html="true" title="Return to top">
      <img class="icons-img icons-return" src="/images/return.svg" alt="Return to top" height="40" />
    </a>
  </div>
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
