<div class="icons-container">
  <div class="icons">
    <a href="#calendar" class="waves-effect">
      <img class="icons-img icons-calendar" src="/images/calendar.svg" alt="Calendar" height="40" />
    </a>

    <a href="#top" class="waves-effect">
      <img class="icons-img icons-return" src="/images/return.svg" alt="Return to top" height="40" />
    </a>

    <a href="#gallery" class="waves-effect">
      <img class="icons-img icons-gallery" src="/images/gallery.svg" alt="Gallery" height="40" />
    </a>
  </div>
</div>
