<nav class="navbar sticky-top fixed-bottom navbar-dark navbar-expand-lg">
  <a class="navbar-brand" href="/">ZAK BLOSE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#calendar-section">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:wzblose@gmail.com">Contact</a>
      </li>
      <li class="nav-item sm-nav-item">
        <hr class="sm-nav-item-hr" />
        <a class="top-icon" href="https://www.facebook.com/ZakBlose/" target="_blank">
          <img class="img-responsive" src="images/F_icon.svg" alt="Zak Blose on Facebook" height="32"/>
        </a>

        <a class="top-icon" href="https://www.spotify.com/" target="_blank">
          <img class="img-responsive" src="images/Spotify_logo_without_text.svg" alt="Zak Blose on Spotify" height="32"/>
       </a>
      </li>
    </ul>
  </div>
</nav>
