<div class="wearecentralpa">
  <div class="row wearecentralpa-row">
    <div class="col-sm-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img class="wearecentralpa-img img-responsive" src="/images/wearecentralpa-2018-logo.png" alt="WTAJ We Are Central PA" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <a class="wearecentralpa-link" href="https://www.wearecentralpa.com/central-pa-live/singer-songwriter-zak-blose/1063246865" target="_blank">
              See Zak on wearecentralpa.com
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
