<!DOCTYPE html>
<html>
<head>
  
  {{ partial "head.html" . }}

</head>
<body id="top">
  {{ partial "onload_overlay.html" . }}
  {{ partial "jumbotron.html" . }}
  {{ partial "nav.html" . }}

  {{ partial "garallax_1.html" . }}

  {{ partial "calendar.html" . }}

  {{ partial "garallax_2.html" . }}
  
  {{ partial "gallery.html" . }}

  {{ partial "garallax_3.html" . }}

  {{ partial "wearecentralpa.html" . }}
  {{ partial "footer.html" . }}

  {{ partial "icons.html" . }}

  {{ partial "js.html" . }}

</body>
</html>
